{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'ProyectoStatic/css/perfil2.css' %}" rel="stylesheet">
</head>
<body>
    {% block content %}

    {% endblock content %}
    
</body>
</html>